In [1]:
# create a set
my_set ={1,2,3,4,5}
print(type(my_set))

<class 'set'>

In [11]:
my_set = set([1,2,34,4,2])
print(my_set)

{1, 2, 34, 4}

In [12]:
#Basic op
#Adding and remove
my_set.add(8)

In [13]:
my_set

{1, 2, 4, 8, 34}

In [14]:
my_set.remove(8)

In [15]:
my_set

{1, 2, 4, 34}

In [16]:
my_set.add(8)
my_set

{1, 2, 4, 8, 34}

In [17]:
my_set.discard(8)

In [18]:
my_set

{1, 2, 4, 34}

In [19]:
my_set.discard(8)

In [20]:
my_set

{1, 2, 4, 34}

In [21]:
remove_element = my_set.pop()
print(remove_element)
print(my_set)

1
{2, 34, 4}

In [22]:
#Set membership test
my_set = {1,2,3,4,5,6}
print( 3 in my_set)
print(10 in my_set)

True
False

In [23]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [25]:
set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [26]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.difference(set2))

{1, 2, 3}

In [27]:
#Symmentic Difference
#common elements removes
print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}

In [30]:
#Sets method
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [32]:
text = 'I have a dream to chase and I will acheive it'
words = text.split()
print(words)
unique_words = set(words)
print(unique_words)

['I', 'have', 'a', 'dream', 'to', 'chase', 'and', 'I', 'will', 'acheive', 'it']
{'chase', 'acheive', 'will', 'dream', 'I', 'have', 'to', 'and', 'it', 'a'}

In [34]:
s = set(range(1,11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [36]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [37]:
s = set(range(1, 6))
for elem in s:
    print(elem)

1
2
3
4
5

In [ ]:
s = set(range(1, 6))
while s:
    s.pop()
    print(s)
print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()
set()