In [4]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers = tuple([1,2,4,5,6])
numbers

(1, 2, 4, 5, 6)

In [6]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [7]:
numbers

(1, 2, 4, 5, 6)

In [8]:
numbers[-1]

6

In [9]:
numbers[0:4]

(1, 2, 4, 5)

In [10]:
numbers

(1, 2, 4, 5, 6)

In [13]:
mixed_tuple = ('Faisal',1,True)

In [14]:
print(mixed_tuple)

('Faisal', 1, True)

In [15]:
#Tuple operation
concat_tuple = numbers + mixed_tuple
print(concat_tuple)

(1, 2, 4, 5, 6, 'Faisal', 1, True)

In [16]:
mixed_tuple*3

('Faisal', 1, True, 'Faisal', 1, True, 'Faisal', 1, True)

In [17]:
#Immutable nature of tuples

In [18]:
#Tuple methods
numbers

(1, 2, 4, 5, 6)

In [19]:
print(numbers.count(1))

1

In [23]:
print(numbers.index(5))

3

In [22]:
numbers

(1, 2, 4, 5, 6)

In [ ]:
#Packing and unpacking tuple
#Packing
packed_tuple = 1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [25]:
#unpacking tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [26]:
#UNPACKING WITH *
numbers = (1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [27]:
#Nested list
lst =[[1,2,3,4],[6,7,8,9],[1,'Hello',3,14,"c"]]
print(lst)

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'Hello', 3, 14, 'c']]

In [28]:
lst[0]

[1, 2, 3, 4]

In [29]:
lst[0][1]

2

In [31]:
lst[0][0:3]

[1, 2, 3]

In [32]:
lst_tuple =[[1,2,3,4],[6,7,8,9],(1,'Hello',3,14,"c")]

In [33]:
lst_tuple[2][0:3]

(1, 'Hello', 3)

In [34]:
#nested tuple
nested_tuple = ((1,2,4),('a','b','c'),(True,False))
print(nested_tuple[2])

(True, False)

In [35]:
print(nested_tuple[1][2])

c

In [36]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 4
a b c
True False

In [37]:
#Create a tuple with the first 10 positive integers. Print the tuple.
positive_number = (1,2,3,4,5,6,7,8,9,10)
print(positive_number)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [40]:
#Print the first, middle, and last elements of the tuple created in Assignment 1.
first_num = positive_number[0]
print(first_num)

1

In [42]:
middle = positive_number[len(positive_number)//2]
print(middle)

6

In [43]:
last = positive_number[-1]
print(last)

10

In [1]:
my_tuple = (10, 20, 30, 40, 50, 60, 70, 80)

print("First three elements:", my_tuple[:3])
print("Last three elements:", my_tuple[-3:])
print("Elements from index 2 to 5:", my_tuple[2:5])

First three elements: (10, 20, 30)
Last three elements: (60, 70, 80)
Elements from index 2 to 5: (30, 40, 50)

In [3]:
# 
my_tuple_matrix = (
    [1,2,3],
    [4,5,6],
    [7,8,9]
)
print(my_tuple_matrix)
print(my_tuple_matrix[1][2])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
6

In [4]:
#Concat
tuple_1 = (1,2,3)
tuple_2 = (4,5,6)
combine_tuple = tuple_1 + tuple_2
print(combine_tuple)

(1, 2, 3, 4, 5, 6)

In [7]:
my_tuple = (1,2,2,4,6,6)
print(my_tuple.count(2))
print(my_tuple.index(2))

2
1

In [9]:
#Packing
my_tuple = 1,2,3,4,5,6,7
print(my_tuple)
#Unpacking
first,*middle,last = my_tuple
print(first)
print(middle)
print(last)

(1, 2, 3, 4, 5, 6, 7)
1
[2, 3, 4, 5, 6]
7

In [10]:
convert_tuple = tuple([1,2,34,4,5])
print(convert_tuple)

(1, 2, 34, 4, 5)

In [11]:
# Create a tuple containing 3 tuples, each with 3 elements
tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

# Print the tuple of tuples
print(tuple_of_tuples)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [16]:
my_tuple = (1,2,3,4,5)
print(my_tuple)
convert_list = list(my_tuple)
print(convert_list)
convert_list.append(6)
convert_tuple = tuple(convert_list)
print(convert_tuple)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

In [20]:
# Create a tuple containing 3 tuples, each with 3 elements
tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
joined_tuple = ''.join(str(item) for sub_tuple in tuple_of_tuples for item in sub_tuple)
print(joined_tuple)

123456789

In [21]:
nested_tuple = (
    [1,2,4],
    [5,6,7],
    [8,9,10]
)
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 4
5 6 7
8 9 10

In [24]:
duplicate_tuple =(1,2,34,4,5,5,4,6,7,6)
remove_duplicate = tuple(set(duplicate_tuple))
print(remove_duplicate)

(1, 2, 34, 4, 5, 6, 7)

In [28]:
def calculate(my_tuple):
    min = my_tuple[0]
    max = my_tuple[0]
    sum = 0
    for item in my_tuple:
        if(item > max):
            max = item
        elif(item < min):
            min = item
        sum = sum + item
    res = (
        {"max" : max}, {"min" :min},{"sum": sum}
    )
    return res

my_tuple = (6,2,3,4,5,100,1)
print(calculate(my_tuple))

({'max': 100}, {'min': 1}, {'sum': 121})